.container{
    background-color: bisque;
    height: 100px;
    width: auto auto;
}
.colorCard{
    height: 50px;
    width: 50px;
    margin: 0;
}
#colorWheel{
    height: auto;
    width: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#colorArray{
    margin-top: 20px;
    margin-bottom: 20px;
}