
.colorCard{
  height: 50px;
  width: 50px;
  margin: 0;
}
#colorWheel{
  height: auto;
  width: auto auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#colorArray{
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#colorRecommendation{
  height:395px;
}